<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Happy Birthday Laurita</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/jquery.quiz-min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="fireworks" style="position:absolute; z-index:-100;"></div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="/static/jquery.fireworks.js"></script>
<script src="/static/jquery.quiz-min.js"></script>

<div class="container">
  <div class="row" style="height:100px;"></div>
  <div class="jumbotron vertical-center" style="z-index:100;">
    <div class="container text-center">
      <div class="row">
        <br/>
        <div class="col-md-12">

          <div id="quiz">
            <div id="quiz-start-screen">
              <h1>Happy Birthday Laurita!</h1>
              <div><a href="#" id="quiz-start-btn" class="quiz-button">Begin Authentication</a></div>
            </div>
            <div id="quiz-results-screen">
                    Gratulation! Zeige Karl die Zahlenkombination, damit du dein Geschenk bekommst.<br/><br/>
                    Alles Gute zum Geburtstag! :)<br/><br/>
              <pre>200892</pre>
            </div>
            <div id="quiz-gameover-screen">
              <p id="quiz-gameover-response"></p>
              <p><a href="#" id="quiz-retry-btn" class="quiz-button">Retry Authentication</a></p>
            </div>
          </div>

        </div>
        <br/>
      </div>
    </div>
  </div>
</div>

<script>
$('.fireworks').fireworks({ sound: false, opacity: 1.0, width: '100%', height: '100%' });

$('#quiz').quiz({
  allowIncorrect: false,
  questions: [
    {
      'q': '[Harry Potter] Wie lautet Professor Slughorns Vorname?',
      'options': [
        'Horace',
        'Ahrace',
        'Haroce',
        'Hecaorn'
      ],
      'correctIndex': 0,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Laurita hätte das gewusst!'
    },
    {
      'q': '[Harry Potter] Welcher Zauber rettet Harry im 4. Band das Leben?',
      'options': [
        'Imperdimenta',
        'Reparo',
        'Expelliarmus',
        'Stupor'
      ],
      'correctIndex': 2,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Laurita hätte das gewusst!'
    },
    {
      'q': '[Harry Potter] Wie heißt Prof. Sprout mit Vornamen?',
      'options': [
        'Poppy',
        'Polina',
        'Polly',
        'Pomona'
      ],
      'correctIndex': 3,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Laurita hätte das gewusst!'
    },
    {
      'q': '[Harry Potter] Wer ließ das erste Mal das Monster aus der Kammer des Schreckens?',
      'options': [
        'Tom Riddle',
        'Lucius Malfoy',
        'Eileen Prince',
        'Rubeus Hagrid'
      ],
      'correctIndex': 0,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Laurita hätte das gewusst!'
    },
    {
      'q': '[Harry Potter] Wessen Zauberstab ging im 2. Band kaputt?',
      'options': [
        'Harrys',
        'Rons',
        'Hermines',
        'Hagrids'
      ],
      'correctIndex': 1,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Laurita hätte das gewusst!'
    },
    {
      'q': '[LotR] Wie heißt die Frau von Tom Bombadil?',
      'options': [
        'Goldbeere',
        'Silbermond',
        'Morgenstern'
      ],
      'correctIndex': 0,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Laurita hätte das gewusst!'
    },
    {
      'q': '[LotR] Was bedeutet das elbische Wort "Mellon", das den Helden die Pforten von Moria öffnet?',
      'options': [
        'Öffne dich',
        'Freund',
        'Frieden'
      ],
      'correctIndex': 1,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Laurita hätte das gewusst!'
    },
    {
      'q': '[Medizin] Ein Holzfäller hatte einen Bandscheibenvorfall. Was darf er nicht mehr tun?',
      'options': [
        'Holz senkrecht hacken',
        'Mit dem Trecker fahren',
        'Holz quer hacken',
        'Nackt durch den Wald rennen'
      ],
      'correctIndex': 1,
      'correctResponse': 'Staatsexamen bestanden :)',
      'incorrectResponse': 'Oh no. Laurita hätte das gewusst!'
    }
  ]
});
</script>

</body>
