<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Laurita Surprise Tours</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/jquery.quiz-min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="fireworks" style="position:absolute; z-index:-100;"></div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="/static/jquery.quiz-min.js"></script>

<div class="container">
  <div class="row" style="height:100px;"></div>
  <div class="jumbotron vertical-center" style="z-index:100;">
    <div class="container text-center">
      <div class="row">
        <br/>
        <div class="col-md-12">

          <div id="quiz">
            <div id="quiz-start-screen">
                    Das war ja bisher alles ganz nett, aber hier ist der wahre Ärztetest!<br/><br/>
              <div><a href="#" id="quiz-start-btn" class="quiz-button">Begin Authentication</a></div>
            </div>
            <div id="quiz-results-screen">
                   Herlichen Glückwunsch, Sie sind Ärztin!<br/>
                    <img src="https://media.giphy.com/media/s2qXK8wAvkHTO/giphy.gif" height="250" width="250">
              <br/>
              <br/>
            </div>
            <div id="quiz-gameover-screen">
              <p id="quiz-gameover-response"></p>
              <p><a href="#" id="quiz-retry-btn" class="quiz-button">Retry Authentication</a></p>
            </div>
          </div>

        </div>
        <br/>
      </div>
    </div>
  </div>
</div>

<script>
$('#quiz').quiz({
  allowIncorrect: false,
  questions: [
    {
      'q': 'What percentage of the human body is water?',
      'options': [
        '50%',
        '66%',
        '75%',
        '80%'
      ],
      'correctIndex': 1,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Dr. Laurita hätte das gewusst!'
    },
    {
      'q': 'A sneeze occurs at about 100 miles an hour.',
      'options': [
        'True',
        'False'
      ],
      'correctIndex': 0,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Dr. Laurita hätte das gewusst!'
    },
    {
      'q': 'The smallest bone in the human body is about the size of:',
      'options': [
        'The head of a pin',
        'A grain of rice',
        'An eyelash',
        'A grain of sand'
      ],
      'correctIndex': 1,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Dr. Laurita hätte das gewusst!'
    },
    {
      'q': 'We humans get an entirely new skeleton every 12 years.',
      'options': [
        'True',
        'False'
      ],
      'correctIndex': 0,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Dr. Laurita hätte das gewusst!'
    },
    {
      'q': 'Calcium crystals are a normal part of what body region?',
      'options': [
        'Gouty joints',
        'The ears',
        'The nasal cavity',
        'The spine'
      ],
      'correctIndex': 1,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Dr. Laurita hätte das gewusst!'
    },
    {
      'q': 'How many taste buds are on your tongue?',
      'options': [
        '9000',
        'Nine million'
      ],
      'correctIndex': 0,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Dr. Laurita hätte das gewusst!'
    },
    {
      'q': 'Which Symptom of Indigestion is Caused By Over Eating?',
      'options': [
        'Vomiting',
        'Diarrhea',
        'Abdominal Pain'
      ],
      'correctIndex': 2,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Dr. Laurita hätte das gewusst!'
    },
    {
      'q': 'What Causes Most Of The Indigestion?',
      'options': [
        'Eating Large Quantity Of Food',
        'Food With Glass Of Wine',
        'Vegetables'
      ],
      'correctIndex': 0,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Dr. Laurita hätte das gewusst!'
    },
    {
      'q': 'How many pages are in the Püppi-lexicon?',
      'options': [
        '50',
        '100',
        '2500',
        'There is no Püppi-lexicon'
      ],
      'correctIndex': 3,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Dr. Laurita hätte das gewusst!'
    }
  ]
});
</script>

</body>

