<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Laurita Surprise Tours</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/jquery.quiz-min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="fireworks" style="position:absolute; z-index:-100;"></div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="/static/jquery.quiz-min.js"></script>

<div class="container">
  <div class="row" style="height:100px;"></div>
  <div class="jumbotron vertical-center" style="z-index:100;">
    <div class="container text-center">
      <div class="row">
        <br/>
        <div class="col-md-12">

          <div id="quiz">
            <div id="quiz-start-screen">
                    Quizz Mittwoch!<br/><br/>
              <div><a href="#" id="quiz-start-btn" class="quiz-button">Begin Authentication</a></div>
            </div>
            <div id="quiz-results-screen">
                   Quizz erfolgreich bestanden!<br/>
                    <img src="https://user-images.githubusercontent.com/10799507/49749486-5cff4400-fca0-11e8-8045-23646c7591ac.jpg" height="250" width="250">
              <br/>
              <br/>
            </div>
            <div id="quiz-gameover-screen">
              <p id="quiz-gameover-response"></p>
              <p><a href="#" id="quiz-retry-btn" class="quiz-button">Retry Authentication</a></p>
            </div>
          </div>

        </div>
        <br/>
      </div>
    </div>
  </div>
</div>

<script>
$('#quiz').quiz({
  allowIncorrect: false,
  questions: [
    {
      'q': 'Wie lautet Percy Weasleys zweiter Vorname?',
      'options': [
        'Wulfric',
        'Percival',
        'Tom',
        'Ignatius'
      ],
      'correctIndex': 3,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Laurita hätte das gewusst!'
    },
    {
      'q': 'Wer tötet Dobby?',
      'options': [
        'Lucius Malfoy',
        'Antonin Dolohov',
        'Voldemort',
        'Bellatrix Lestrange'
      ],
      'correctIndex': 3,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Laurita hätte das gewusst!'
    },
    {
      'q': 'Wie heißt Voldemorts Onkel?',
      'options': [
        'Vorlost Riddle',
        'Morfin Riddle',
        'Morfin Gaunt',
        'Vorlost Marvolo'
      ],
      'correctIndex': 2,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Laurita hätte das gewusst!'
    },
    {
      'q': 'Mit wem droht Draco Borgin?',
      'options': [
        'Fenrir Greyback',
        'Severus Snape',
        'Beatix Lestrange',
        'Morfin Gaunt'
      ],
      'correctIndex': 0,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Laurita hätte das gewusst!'
    },
    {
      'q': 'Welche Nummer muss Mr Weasley in der Telefonzelle eingeben um ins Zaubereiministerium zu gelangen?',
      'options': [
        '42663',
        '62443',
        '32446',
        '26443'
      ],
      'correctIndex': 1,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Laurita hätte das gewusst!'
    },
    {
      'q': 'Welche Verwandte von Fleur ist eine Veela?',
      'options': [
        'Ihre Großmutter',
        'Ihre Cousine',
        'Ihre Schwester',
        'Ihre Mutter'
      ],
      'correctIndex': 0,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Laurita hätte das gewusst!'
    },
    {
      'q': 'Mit welchem Kosenamen tröstet Tante Petunia Dudley an seinem Geburtstag?',
      'options': [
        'Schmusemöbbelchen',
        'Tigerkatzitatzi',
        'Duddybums',
        'Schmusebär'
      ],
      'correctIndex': 2,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Laurita hätte das gewusst!'
    },
    {
      'q': 'Welche ZM-Klassifizierung hat die Seeschlange?',
      'options': [
        'X',
        'XX',
        'XXX',
        'XXXX'
      ],
      'correctIndex': 2,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Laurita hätte das gewusst!'
    },
    {
      'q': 'Wie hießen die Eltern von Severus Snape?',
      'options': [
        'Eileen Prince und Edward Snape',
        'Eileen Prince und Richerd Snape',
        'Eileen Prince und Severus Snape',
        'Eileen Prince und Tobias Snape'
      ],
      'correctIndex': 3,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Laurita hätte das gewusst!'
    }
  ]
});
</script>

</body>
