<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Laurita Surprise Tours</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/jquery.quiz-min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="fireworks" style="position:absolute; z-index:-100;"></div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="/static/jquery.fireworks.js"></script>
<script src="/static/jquery.quiz.js"></script>

<div class="container">
  <div class="row" style="height:100px;"></div>
  <div class="jumbotron vertical-center" style="z-index:100;">
    <div class="container text-center">
      <div class="row">
        <br/>
        <div class="col-md-12">

          <div id="quiz">
            <div id="quiz-start-screen">
                    <h1>Geburtstagsquizz<h1/><br/><br/>
              <div><a href="#" id="quiz-start-btn" class="quiz-button">Start</a></div>
            </div>
            <div id="quiz-results-screen">
                    <img src="/static/niffler.png" width="300"> </br>
                    Du hast ausreichend Fragen richtig beantwortet! 
                    Zur Belohnung gibt es etwas, um mehr Pflanzen zu niffeln! <br>
                    <img src="https://user-images.githubusercontent.com/10799507/184883632-0079b310-3d5d-4836-884a-6ebecdc3924c.jpg" width="300">
              <br/>
              <br/>
            </div>
            <div id="quiz-gameover-screen">
              <p id="quiz-gameover-response"></p>
              <p><a href="#" id="quiz-retry-btn" class="quiz-button">Neuer Versuch</a></p>
            </div>
          </div>

        </div>
        <br/>
      </div>
    </div>
  </div>
</div>

<script>
$('.fireworks').fireworks({ sound: false, opacity: 1.0, width: '100%', height: '100%' });

$('#quiz').quiz({
  allowIncorrect: true,
  allowedMisses: 2,
  questions: [
    {
      'q': 'Wie bezeichnet man eine Sammlung getrockneter Pflanzen auf einem Papierbogen?',
      'options': [
        'Pflanzenkasten',
        'Herbarium',
        'Biosphäre',
        'Botanische Blütenhülle'
      ],
      'correctIndex': 1,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Dr. Laurita hätte das gewusst!'
    },
    {
      'q': 'Welches Blatt erkennen Sie hier?',
      'imageSrc': 'https://user-images.githubusercontent.com/10799507/184651090-14c6f3e5-cf2c-4b2d-afeb-80103e120ec2.jpg',
      'imageWidth': 300,
      'options': [
        'Buche',
        'Espe',
        'Linde',
        'Birke'
      ],
      'correctIndex': 2,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Dr. Laurita hätte das gewusst!'
    },
    {
      'q': 'Um welches Blatt könnte es sich hierbei handeln?',
      'imageSrc': 'https://user-images.githubusercontent.com/10799507/184652189-a6e92a68-bca2-4a25-8b33-84ac08c15571.jpg',
      'imageWidth': 300,
      'options': [
        'Phylliidae',
        'Philodendron',
        'Köstliches Fensterblatt',
        'Anthurium magnificum'
      ],
      'correctIndex': 0,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Dr. Laurita hätte das gewusst!'
    },
    {
      'q': 'Orchideen gelten als besonders beliebt. Wie viele Arten gibt es ungefähr von der "Königin der Blumen"?',
      'options': [
        '30',
        '300',
        '3000',
        '30000'
      ],
      'correctIndex': 3,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Dr. Laurita hätte das gewusst!'
    },
    {
      'q': 'Was ist das?',
      'imageSrc': 'https://user-images.githubusercontent.com/10799507/184659855-0f663b25-3226-49ef-8dd3-b90edd101dff.jpg',
      'imageWidth': 300,
      'options': [
        'Ringelblume',
        'Aster',
        'Geranie'
      ],
      'correctIndex': 0,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Dr. Laurita hätte das gewusst!'
    },
    {
      'q': 'Welche dieser Pflanzen hilft gegen Mücken?',
      'options': [
        'Kamille',
        'Flieder',
        'Rosmarin'
      ],
      'correctIndex': 2,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Dr. Laurita hätte das gewusst!'
    },
    {
      'q': 'Was ist aus gärtnerischer Sicht kein Obst?',
      'options': [
        'Weintrauben',
        'Kirschen',
        'Kürbis'
      ],
      'correctIndex': 2,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Dr. Laurita hätte das gewusst!'
    },
    {
      'q': 'Welche Pflanze wächst am schnellsten?',
      'options': [
        'Bambus',
        'Kirschlorbeer',
        'Rose'
      ],
      'correctIndex': 0,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Dr. Laurita hätte das gewusst!'
    },
    {
      'q': 'Welche Pflanze trägt diese außergewöhnlichen Blüten?',
      'imageSrc': 'https://user-images.githubusercontent.com/10799507/185610353-af0bd95e-2221-4d57-982b-277fabc23682.jpg',
      'imageWidth': 300,
      'options': [
        'Akelei',
        'Storchschnabel',
        'Kapuzinerkresse'
      ],
      'correctIndex': 0,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Dr. Laurita hätte das gewusst!'
    }
  ]
});
</script>

</body>

