<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Laurita Surprise Tours</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/jquery.quiz-min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="fireworks" style="position:absolute; z-index:-100;"></div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="/static/jquery.quiz-min.js"></script>

<div class="container">
  <div class="row" style="height:100px;"></div>
  <div class="jumbotron vertical-center" style="z-index:100;">
    <div class="container text-center">
      <div class="row">
        <br/>
        <div class="col-md-12">

          <div id="quiz">
            <div id="quiz-start-screen">
                    Frohe Ostern!<br/><br/>
              <div><a href="#" id="quiz-start-btn" class="quiz-button">Begin Authentication</a></div>
            </div>
            <div id="quiz-results-screen">
                   Die deutsche Oper bietet jeden Tag gegen 15 Uhr ein online Programm https://www.deutscheoperberlin.de/de_DE/home. Vielleicht kann man sich ja so das mögliche home office versüßen?
              <br/>
              <br/>
            </div>
            <div id="quiz-gameover-screen">
              <p id="quiz-gameover-response"></p>
              <p><a href="#" id="quiz-retry-btn" class="quiz-button">Retry Authentication</a></p>
            </div>
          </div>

        </div>
        <br/>
      </div>
    </div>
  </div>
</div>

<script>
$('#quiz').quiz({
  allowIncorrect: false,
  questions: [
    {
      'q': 'Eine Frage zum Aufwärmen: Was wird an Ostern eigentlich gefeiert?',
      'options': [
        'Die Geburt Jesu Christi',
        'Die Auferstehung Jesu Christi',
        'Der Beginn des Frühlings'
      ],
      'correctIndex': 1,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Dr. Laurita hätte das gewusst!'
    },
    {
      'q': 'Auf welches Datum fällt der Ostersonntag?',
      'options': [
        'Immer auf den ersten Sonntag nach dem ersten Frühlingsvollmond',
        'Immer auf den ersten Sonntag im April',
        'Immer auf den ersten Sonntag nach dem ersten Neumond im April'
      ],
      'correctIndex': 0,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Dr. Laurita hätte das gewusst!'
    },
    {
      'q': 'Was geschah, laut Bibel, am Gründonnerstag?',
      'options': [
        'Jesus Christus wurde gekreuzigt',
        'Jesus Christus ist von den Toten auferstanden',
        'Jesus Christus nahm das letzte Abendmahl ein'
      ],
      'correctIndex': 2,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Dr. Laurita hätte das gewusst!'
    },
    {
      'q': 'An welchem Tag wurde Jesus Christus gekreuzigt?',
      'options': [
        'Am Ostersonntag',
        'An Karfreitag',
        'Am Ostermontag'
      ],
      'correctIndex': 1,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Dr. Laurita hätte das gewusst!'
    },
    {
      'q': 'Wofür steht das "Kar" in Karfreitag?',
      'options': [
        'Kar kommt aus dem Altdeutschen und bedeutet Klage, Kummer oder Trauer',
        'Kar kommt aus dem Lateinischen und bedeutet Kreuz',
        'Kar kommt aus dem Hebräischen und bedeuted Kampf oder Kämpfer'
      ],
      'correctIndex': 1,
      'correctResponse': 'Hat jemand doch ein bisschen Latein drauf? ;)',
      'incorrectResponse': 'Oh no. Dr. Laurita hätte das gewusst!'
    },
    {
      'q': 'Welche Bedeutung hat das Osterfeuer?',
      'options': [
        'Das Osterfeuer vertreibt böse Geister',
        'Das Osterfeuer begrüßt den nahenden Frühling',
        'Das Osterfeuer ist ein Symbol für die Wärme und das Licht der Auferstehung Jesu Christi'
      ],
      'correctIndex': 2,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Dr. Laurita hätte das gewusst!'
    },
    {
      'q': 'In Deutschland bringt der Osterhase die Ostereier. Welches Tier übernimmt in Australien den Job?',
      'options': [
        'Der Osterbilby - Ein Kaninchenhasenbeutler',
        'Das Oster-Känguru - Eine besonders kleine Känguruart',
        'Der Okoala - Eine besondere Koalaart mit schneeweißem Fell'
      ],
      'correctIndex': 0,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Dr. Laurita hätte das gewusst!'
    },
    {
      'q': 'Warum wird gerade den Ostereiern so eine große Bedeutung beigemessen?',
      'options': [
        'Die Ostereier symbolisieren die Opfergabe, die Jesus für uns auf sich genommen hat',
        'Die Ostereier waren fester Bestandteil des letzten Abendmahls Jesu und seiner 12 Apostel',
        'Die Ostereier stehen für neues Leben und Fruchtbarkeit'
      ],
      'correctIndex': 2,
      'correctResponse': 'Richtig :)',
      'incorrectResponse': 'Oh no. Dr. Laurita hätte das gewusst!'
    }
  ]
});
</script>

</body>

